/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}
/** end reset css**/
body {
  font-family: "Work Sans";
  font-size: 14px;
}

main {
  margin: 0 auto;
  max-width: 1140px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  align-self: center;
  max-width: 1140px;
}

.header--edit {
  display: none;
  justify-content: center;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  background-color: black;
  padding: 0.67rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
}

.active--link {
  font-weight: 600;
}

#navLogin {
  cursor: pointer;
}
section {
  margin: 3.125rem 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-right: 1rem;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery__filters {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  margin-bottom: 3.125rem;
}

.basic-button {
  font-family: Syne;
  border: 1px solid #1d6154;
  border-radius: 3.75rem;
  color: #1d6154;
  padding: 0.625rem 1.875rem;
  cursor: pointer;
  font-size: 1rem;
}

.basic-button:hover {
  color: #1d6154;
  background-color: white;
}

#addWorkButton,
#loginButton,
.button--active {
  color: white;
  background-color: #1d6154;
}

#addWorkButton:hover,
#addWorkButton:focus,
#loginButton:hover,
#loginButton:focus,
.button--active:hover {
  color: #1d6154;
  background-color: white;
}

.projects-top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.gallery img {
  width: 100%;
}

.gallery figure {
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.gallery figure > img {
  margin-bottom: 0.4rem;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

.login,
.basic-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  margin-top: 9.375rem;
  margin-bottom: 21rem;
}

.login > h1 {
  color: #1d6154;
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 2.3rem;
}

.basic-form {
  width: 379px;
  margin-bottom: 1.75rem;
}

.basic-form label {
  align-self: flex-start;
  font-size: 0.875rem;
  margin-bottom: 0.43rem;
  font-weight: 500;
  color: #3d3d3d;
}

.basic-form select,
.basic-form input {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: transparent;
  height: 50px;
  width: 90%;
  padding: 0 1.2rem;
  margin-bottom: 1.875rem;
  font-family: "Work Sans";
}

.basic-form select {
  width: 100%;
}

.basic-form option {
  font-family: "Work Sans";
  cursor: pointer;
}

.login a {
  text-decoration: underline;
}

.edit-button {
  display: none;
  align-items: center;
  gap: 0.3rem;

  cursor: pointer;
}

.edit-button img {
  width: 14px;
}

.edit-button--header {
  color: white;
}

.edit-button--header span {
  margin-right: 1.3rem;
}

.edit-button--header img {
  filter: invert(1);
}

.edit-button--top {
  margin-bottom: 1.18rem;
}

.edit-button--mid {
  width: 100%;
  margin: 1rem 0 0 3.5rem;
}

.edit-button--bottom {
  margin: 0;
}

.edit-button--bottom img,
.edit-button--bottom span {
  pointer-events: none;
}

.edit-button:not(.edit-button--header):hover span {
  text-decoration: underline;
}

.publish-button {
  border: transparent;
  border-radius: 3.75rem;
  padding: 0.7rem 1.4rem;
  font-family: "Work Sans";
  font-size: 0.875rem;
  cursor: pointer;
}

.publish-button:hover,
.publish-button:focus {
  color: white;
  background-color: #1d6154;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* MODAL */

.modal-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  min-height: 400px;
  max-width: 630px;
  padding: 3.125rem 6.56rem;
  border-radius: 0.875rem;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.modal__add-picture {
  background-color: #e8f1f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
  width: 100%;
}

.modal__add-picture .picture-icon {
  margin-bottom: 1rem;
}

.modal__add-picture span {
  font-size: 0.625rem;
}

.modal h2 {
  font-family: "Work Sans";
  color: black;
  font-weight: 400;
  font-size: 1.625rem;
  text-align: center;
}

.modal .fa-arrow-left,
.modal .fa-xmark {
  position: absolute;
  font-size: 1.1rem;
  z-index: 4;
  cursor: pointer;
  top: 26px;
}

.modal .fa-xmark {
  right: 30px;
}

.modal .fa-arrow-left {
  left: 30px;
}

.modal-work {
  position: relative;
  max-width: 76px;
  cursor: pointer;
  animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.modal-work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 420px;
  padding-bottom: 2.9rem;
  border-bottom: 1px #b3b3b3 solid;
}

.modal-work__trash {
  position: absolute;
  top: 6px;
  right: 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  font-size: 0.5rem;
  border-radius: 0.2rem;
}

#sendWorkBtn,
#addWorkButton {
  max-width: 237px;
  margin: 0 auto 1.43rem;
}

#sendWorkBtn {
  width: 237px;
}

#deleteGalleryBtn {
  color: #d65353;
  font-size: 0.875rem;
  border: transparent;
  background-color: transparent;
  font-family: "Syne", sans-serif;
  cursor: pointer;
}

#addWorkForm {
  border-bottom: 1px #b3b3b3 solid;
  padding-bottom: 2.9rem;
}

.add-picture--button {
  background-color: #cbd6dc;
  color: #306685;
  font-family: "Work Sans", sans-serif;
  font-size: 0.875rem;
  border: transparent;
  margin-bottom: 0.4rem;
  align-self: center !important;
}

/* KEYFRAMES */

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
